body {
	background-color: black;
	color: white;
	font-family: "Open Sans";
	text-align: center;
}

.main-banner {

}

.main-image {
    display: block;
    height: auto;
    max-width: 100%;
    margin:0 auto;
}

.info {
	font-size: 20px;
}